:root {
  --main-background: #FFF;
  --button-primary: #1e8f49;
  --text-primary: #000;
  --divider-primary: #EEE;
  --button-disabled: #6bd35d;
}

[data-theme="night"] {
  --main-background: #000;
  --button-primary: #8e05c2;
  --text-primary: #FFF;
  --divider-primary: #323232;
}

* {
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  background-color: var(--main-background);
  color: var(--text-primary);
}

.main-container header  {
  width: 500px;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 40px;
}

.btn {
  border-radius: 50px;
  padding: 10px 15px;
  font-weight: bolder;
  cursor: pointer;
}

.btn.primary {
  border: none;
  color: #FFF;
  background-color: var(--button-primary);
}

.btn.secondary {
  border: 2px solid var(--button-primary);
  background-color: #FFF;
}

.post-card {
  width: 500px;
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px var(--divider-primary) solid;
  cursor: pointer;
}

.post-card:first-child {
  border-top: 1px var(--divider-primary) solid;
}

.post-preview-content {
  padding-right: 20px;
}


.post-author {
  display: flex;
  margin-bottom: 15px;
}

.post-title {
  font-size: 25px;
  font-weight: bolder;
  margin-bottom: 15px;
}

.author-avatar {
  width: 20px;
}

.post-body p {
  width: 380px;
}

.post-body p:nth-child(2) {
  /* não quebra o texto, deixando em uma única linha */
  white-space: nowrap;
  /* não permite que "dê scroll" */
  overflow: hidden;
  /* cropa o texto em função do tamanho do container, e adiciona reticências */
  text-overflow: ellipsis;
}

.fullscreen-post {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--main-background);
  border-top: 2px solid var(--button-primary);
  z-index: 99;
}

.post-close {
  position: absolute;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
  padding: 2px 8px;
  padding-top: 3px;
  font-size: 20px;
}

.post-content {
  margin: 65px 50px;
}

.post-content h1 {
  margin-bottom: 30px;
}

.post-form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 30% 15%;
}

.post-form fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  margin-bottom: 20px;
}

.post-form input, textarea {
  padding: 5px;
  margin-top: 10px;
}

.btn.primary:disabled {
  background-color: var(--button-disabled);
  cursor:not-allowed;
}

.post-form textarea {
  max-height: 150px;
  min-height: 150px;
}