:root {
  --main-background: #FFF;
  --button-primary: #1e8f49;
  --text-primary: #000;
}

* {
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-background);
  color: var(--text-primary);
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.main-container header  {
  width: 500px;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 40px;
}

.main-container header button {
  border-radius: 50px;
  border: none;
  padding: 0 15px;
  color: #FFF;
  font-weight: bolder;
  background-color: var(--button-primary);
}

.post-card {
  width: 500px;
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px #EEE solid;
}

.post-card:first-child {
  border-top: 1px #EEE solid;
}

.post-preview-content {
  padding-right: 20px;
}


.post-author {
  display: flex;
  margin-bottom: 15px;
}

.post-title {
  font-size: 25px;
  font-weight: bolder;
  margin-bottom: 15px;
}

.author-avatar {
  width: 20px;
}

.post-body p {
  width: 380px;
}

.post-body p:nth-child(2) {
  /* não quebra o texto, deixando em uma única linha */
  white-space: nowrap;
  /* não permite que "dê scroll" */
  overflow: hidden;
  /* cropa o texto em função do tamanho do container, e adiciona reticências */
  text-overflow: ellipsis;
}
